In [85]:
import pandas as pd

In [86]:
df=pd.read_csv('employee_data.csv')
df.head()

   Unnamed: 0  id groups  age  healthy_eating  active_lifestyle  salary
0           0   0      A   36               5                 5    2297
1           1   1      A   55               3                 5    1134
2           2   2      A   61               8                 1    4969
3           3   3      O   29               3                 6     902
4           4   4      O   34               6                 2    3574

In [87]:
gdf=df.groupby('groups')
gdf

In [88]:
df1=gdf.get_group('O')['salary'].max
df1

<bound method Series.max of 3       902
4      3574
5      2761
11     4387
12     1830
13     2182
19     3228
20     3228
21     1360
27     1134
28     2414
29     3809
35      785
36     2297
37     1134
43      556
44     2646
45     1601
51     1601
52     4155
53      785
59     4505
60     2300
61     1134
67     3342
68     1833
69     4041
75     3809
76     1716
77     2996
       ...
923    3228
924     662
925    1011
931    2878
932    2646
933    3691
939    2414
940    2414
941    3691
947    5435
948    2878
949    1484
955    1833
956    3574
957    2529
963    2179
964    2065
965    2764
971    1243
972    3342
973     902
979    2764
980    2297
981    1369
987    2297
988    1484
989    1134
995    2996
996     667
997    4158
Name: salary, Length: 375, dtype: int64>

In [89]:
gdf.get_group('B')['age'].mean()

42.048

In [90]:
gdf.get_group('B')['age'].mode()

0    54
dtype: int64

In [91]:
gdf1=df.groupby('age')
gdf1

In [92]:
df2=gdf1.get_group(54)

df2.count()

Unnamed: 0          26
id                  26
groups              26
age                 26
healthy_eating      26
active_lifestyle    26
salary              26
dtype: int64

In [93]:
import numpy as np

In [94]:
df['age'][1]=np.nan
df['age'][2]=np.nan
df['age'][3]=np.nan

c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\Users\student\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [95]:
df['age'].median()

41.0

In [96]:
df['age'][1]=np.nan
df['age'][2]=np.nan
df['age'][3]=np.nan

In [97]:
df.fillna(df['age'].median(),inplace=True)
df.head()

   Unnamed: 0  id groups   age  healthy_eating  active_lifestyle  salary
0           0   0      A  36.0               5                 5    2297
1           1   1      A  41.0               3                 5    1134
2           2   2      A  41.0               8                 1    4969
3           3   3      O  41.0               3                 6     902
4           4   4      O  34.0               6                 2    3574

In [98]:
df['age'][1]=np.nan
df['age'][4]=np.nan
df['age'][7]=np.nan
df['age'][10]=np.nan
df['age'][14]=np.nan
df['age'][16]=np.nan

c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [99]:
df.isna().mean()*100

Unnamed: 0          0.0
id                  0.0
groups              0.0
age                 0.6
healthy_eating      0.0
active_lifestyle    0.0
salary              0.0
dtype: float64

In [100]:
print("total number of NaN values in age column are",df['age'].isna().sum())

total number of NaN values in age column are 6

In [101]:
df['salary'][2]=np.nan
df['salary'][5]=np.nan
df['salary'][9]=np.nan
df['salary'][11]=np.nan
df['salary'][17]=np.nan
df['salary'][22]=np.nan

c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
print("total number of NaN values in salary column are",df['salary'].isna().sum())

total number of NaN values in salary column are 6

In [103]:
print("total number of NaN values in dataframe are",df.isna().sum().sum())

total number of NaN values in dataframe are 12

In [104]:
df[df.isna().any(axis=1)]

    Unnamed: 0  id groups   age  healthy_eating  active_lifestyle  salary
1            1   1      A   NaN               3                 5  1134.0
2            2   2      A  41.0               8                 1     NaN
4            4   4      O   NaN               6                 2  3574.0
5            5   5      O  42.0               5                 3     NaN
7            7   7      B   NaN               8                 6  3809.0
9            9   9      A  31.0               4                 8     NaN
10          10  10      A   NaN               6                 9  1950.0
11          11  11      O  40.0               7                 1     NaN
14          14  14     AB   NaN               7                 5  3460.0
16          16  16      A   NaN               3                 5  1134.0
17          17  17      A  41.0               4                 8     NaN
22          22  22     AB  59.0               7                 5     NaN

In [105]:
df.isna().sum()

Unnamed: 0          0
id                  0
groups              0
age                 6
healthy_eating      0
active_lifestyle    0
salary              6
dtype: int64

In [106]:
df['groups'][2]=None
df['groups'][5]=None
df['groups'][9]=None
df['groups'][11]=None
df['groups'][17]=None
df['groups'][22]=None

c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [111]:
df.isnull().sum()

Unnamed: 0          0
id                  0
groups              6
age                 6
healthy_eating      0
active_lifestyle    0
salary              6
dtype: int64

In [113]:
df['groups'].isnull().sum()

6